---
import { Icon } from 'astro-icon/components'
import { ClientRouter } from 'astro:transitions'

import '~/styles.css'

interface Props {
  title?: string
  description: string
  ogImage?: string
}

const { title = 'Mackie Underdown', description, ogImage } = Astro.props

const includeAnalytics = import.meta.env.PROD
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta property='og:title' content={title} />
    {ogImage && <meta property='og:image' content={ogImage} />}
    <meta name='description' property='og:description' content={description} />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <link rel='icon' type='image/png' href='/favicon.png' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://rsms.me/' />
    <link rel='stylesheet' href='https://rsms.me/inter/inter.css' />
    {
      includeAnalytics && (
        <script
          defer
          src='https://analytics.fairfieldconsulting.llc/script.js'
          data-website-id='d987d3f3-21e6-4776-83ad-becf76e64bf0'
        />
      )
    }
    <ClientRouter />
  </head>

  <body
    class='container mx-auto min-h-screen bg-slate-50 font-sans text-slate-950 dark:bg-slate-950 dark:text-slate-50'
  >
    <nav class='py-8'>
      <div class='flex flex-row items-center'>
        <a
          href='/'
          class='flex flex-row items-center gap-2 text-lg font-bold text-black dark:text-white'
        >
          <Icon name='lucide:book-open' class='size-6 rounded' />
          Mackie Underdown
        </a>
      </div>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
