---
import { ClientRouter } from 'astro:transitions'

import '@fontsource-variable/inconsolata'
import '~/styles.css'

import * as Effect from 'effect/Effect'
import * as Exit from 'effect/Exit'

import * as Author from '~/lib/Author'
import { Runtime } from '~/lib/Runtime'

interface Props {
  title?: string
  description: string
  ogImage?: string
  type?: 'website' | 'article'
  publishedTime?: string
}

const {
  title = 'Mackie Underdown',
  description,
  ogImage,
  type = 'website',
  publishedTime,
} = Astro.props

const includeAnalytics = import.meta.env.PROD

const handleRequest = Effect.gen(function* () {
  const authorService = yield* Author.Service

  const author = yield* authorService.me()

  return { author }
})

const result = await Runtime.runPromiseExit(handleRequest.pipe(Effect.tapError(Effect.logError)))

if (Exit.isFailure(result)) {
  throw new Error('Failed to fetch author', { cause: result.cause })
}

const { author } = result.value
---

<html lang='en'>
  <head
    prefix={['og: https://ogp.me/ns#', type === 'article' && 'article: http://ogp.me/ns/article#']
      .filter(Boolean)
      .join(' ')}
  >
    <meta charset='UTF-8' />
    <meta property='og:url' content={Astro.url.toString()} />
    <meta property='og:type' content={type} />
    <meta property='og:title' content={title} />
    {
      ogImage && (
        <Fragment>
          <meta property='og:image' content={ogImage} />
          <meta property='og:image:type' content='image/png' />
        </Fragment>
      )
    }
    {
      type === 'article' && (
        <Fragment>
          {publishedTime && <meta property='article:published_time' content={publishedTime} />}
        </Fragment>
      )
    }
    <meta name='twitter:card' property={ogImage ? 'summary_large_image' : 'summary'} />
    <meta name='twitter:site' property='@macklinu' />
    <meta name='twitter:creator' property='@macklinu' />
    <meta name='description' content={description} />
    <meta property='og:description' content={description} />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <link rel='icon' type='image/png' href='/favicon.png' />

    {
      includeAnalytics && (
        <script
          is:inline
          defer
          src='https://analytics.fairfieldconsulting.llc/script.js'
          data-website-id='d987d3f3-21e6-4776-83ad-becf76e64bf0'
        />
      )
    }
    <ClientRouter />
  </head>

  <body
    class='container mx-auto min-h-screen justify-items-center bg-white/95 font-mono text-black/95 dark:bg-black/95 dark:text-white/95'
  >
    <div class='space-y-2 py-8 text-center'>
      <h1 class='text-4xl font-black'>{author.name}</h1>
      <div>{author.bio}</div>
      {
        Astro.url.pathname !== '/' && (
          <a class='underline' href='/'>
            ← back
          </a>
        )
      }
    </div>
    <slot />
  </body>
</html>
