---
import { Icon } from 'astro-icon/components'
import { DESCRIPTION } from '~/config'
import { isoDate } from '~/date'
import Layout from '~/Layout.astro'
import { getPosts } from '~/posts'

const posts = await getPosts()

const projects = [
  {
    name: 'repo.vercel.app',
    href: 'https://repo.vercel.app',
    description: 'Find the repo for any npm package',
  },
  {
    name: 'fthrsn',
    href: 'https://fthrsn.bandcamp.com',
    description: 'Music project from 2011-2013',
  },
] as const

const social = [
  {
    name: 'GitHub',
    href: 'https://github.com/macklinu',
    iconName: 'mdi:github',
  },
  {
    name: 'Twitter',
    href: 'https://twitter.com/macklinu',
    iconName: 'mdi:twitter',
  },

  {
    name: 'LinkedIn',
    href: 'https://www.linkedin.com/in/macklinu/',
    iconName: 'mdi:linkedin',
  },
] as const
---

<Layout>
  <main class='space-y-8'>
    <section class='space-y-4'>
      <p class='text-md'>{DESCRIPTION}</p>
      <ul class='list-none inline-flex flex-row items-center space-x-4'>
        {
          social.map(({ name, href, iconName }) => (
            <li>
              <a
                href={href}
                target='_blank'
                rel='noreferrer noopener'
                aria-label={name}
              >
                <Icon name={iconName} class='h-8 w-8' />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='font-bold'>Posts</h2>
      <ul class='list-none mt-4 space-y-2'>
        {
          posts.map(({ data, slug }) => (
            <li class='space-x-1'>
              <time
                datetime={isoDate(data.date)}
                class='dark:text-slate-300 text-slate-600 text-sm tabular-nums'
              >
                {isoDate(data.date)}
              </time>

              <a class='underline' href={`/posts/${slug}`}>
                {data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='font-bold'>Projects</h2>
      <ul class='list-none mt-4 space-y-2'>
        {
          projects.map(({ name, description, href }) => (
            <li>
              <a
                class='underline'
                href={href}
                target='_blank'
                rel='noopener noreferrer'
              >
                {name}
              </a>

              <p class='dark:text-slate-300 text-slate-600'>{description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
