---
import { Icon } from 'astro-icon/components'
import { getEntry, render } from 'astro:content'
import { longDate } from '~/date'
import Layout from '~/Layout.astro'
import { z } from 'zod'

const paramsSchema = z.object({ slug: z.string() })

const { slug } = paramsSchema.parse(Astro.params)

const entry = await getEntry('posts', slug)

if (!entry) {
  return Astro.rewrite('/404')
}

const { Content } = await render(entry)
const { title, description, date } = entry.data

const ogImage = new URL(
  `/posts/${entry.id}.png`,
  import.meta.env.SITE
).toString()
---

<Layout title={title} description={description} ogImage={ogImage}>
  <main class='mb-16'>
    <a href='/' class='inline-flex flex-row gap-1 items-center underline'>
      <Icon name='mdi:arrow-left' class='h-4 w-4' />
      Back
    </a>

    <div class='flex flex-col py-4'>
      <h2 class='lg:text-4xl text-3xl leading-relaxed font-black'>
        {title}
      </h2>
      <div class='my-2 inline-flex flex-row items-center gap-1.5'>
        <Icon name='mdi:calendar-month' class='h-4 w-4' />
        <time class='text-md dark:text-slate-300 text-slate-600'>
          {longDate(date)}
        </time>
      </div>
    </div>

    <article class='prose lg:prose-lg dark:prose-invert'>
      <Content />
    </article>
  </main>
</Layout>
