---
import type { GetStaticPaths } from 'astro'
import { Icon } from 'astro-icon/components'
import { getEntry, render } from 'astro:content'
import { isoDate } from '~/date'
import Layout from '~/Layout.astro'
import { z } from 'zod'
import { getPosts } from '~/posts'
import silly from '~/content/silly.png'
import { Image } from 'astro:assets'
import Eye from '~/Eye.astro'

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
  }))
}

const paramsSchema = z.object({ slug: z.string() })

const { slug } = paramsSchema.parse(Astro.params)

const entry = await getEntry('posts', slug)

if (!entry) {
  throw new Error(`Unable to load post for slug ${JSON.stringify(slug)}`)
}

const { Content } = await render(entry)
const { title, description, date } = entry.data

const ogImage = new URL(
  `/posts/${entry.id}.png`,
  import.meta.env.SITE
).toString()
---

<Layout title={title} description={description} ogImage={ogImage}>
  <a href='/' class='inline-flex flex-row gap-1 items-center underline'>
    <Icon name='lucide:arrow-left' class='h-4 w-4' />
    Back
  </a>

  <article class='prose lg:prose-lg dark:prose-invert mx-auto pb-8'>
    <div class='flex flex-col'>
      <h2
        class='lg:text-4xl text-3xl leading-tight font-black'
        transition:name={`post-${entry.id}--title`}
      >
        {title}
      </h2>
      <div class='inline-flex flex-row items-center gap-1.5'>
        <Icon name='lucide:calendar' class='h-4 w-4' />
        <time
          class='text-md dark:text-slate-300 text-slate-600'
          transition:name={`post-${entry.id}--date`}
        >
          {isoDate(date)}
        </time>
      </div>
    </div>
    <Content />
  </article>
  <Image
    transition:name='mackie'
    src={silly}
    height={200}
    alt='Mackie looking at the blog post'
    class='h-[200px] -z-10 bottom-0 left-0 fixed grayscale hover:grayscale-0 duration-500 lg:block hidden'
  />
  <div class='motion-reduce:hidden'>
    <Eye id='left-eye' class='bottom-[93px] left-[64px]' />
    <Eye id='right-eye' class='bottom-[96px] left-[100px]' />
  </div>
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    const { matches } = window.matchMedia('(prefers-reduced-motion: reduce)')

    if (matches) {
      // Don't animate eyes because they are hidden!
      return
    }

    const $leftEye = document.getElementById('left-eye')
    const $rightEye = document.getElementById('right-eye')

    if (!$leftEye || !$rightEye) {
      return
    }

    window.addEventListener('mousemove', (e) => {
      const originX = $leftEye.offsetLeft + $leftEye.offsetWidth
      const originY = $leftEye.offsetTop + $leftEye.offsetHeight
      const mouseX = e.clientX
      const mouseY = e.clientY

      const radians = Math.atan2(originY - mouseY, originX - mouseX)

      $leftEye.style.transform = `rotate(${radians}rad)`
      $rightEye.style.transform = `rotate(${radians}rad)`
    })
  })
</script>
