---
import { Icon } from 'astro-icon'

import { longDate } from '~/date'
import Layout from '~/Layout.astro'
import { getPosts, type Post } from '~/posts'

interface Props {
  post: Post
}

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()

const { title, description } = post.data
const date = longDate(post.data.date)

const ogImage = new URL(`/posts/${post.slug}.png`, Astro.url.origin).href
---

<Layout title={title} description={description} ogImage={ogImage}>
  <main class='mb-16'>
    <a href='/' class='inline-flex flex-row gap-1 items-center underline'>
      <Icon name='mdi:arrow-left' class='h-4 w-4' />
       Back
    </a>

    <div class='flex flex-col py-4'>
      <h2 class='lg:text-4xl text-3xl leading-relaxed font-black'>
        {title}
      </h2>
      <div class='my-2 inline-flex flex-row items-center gap-1.5'>
        <Icon name='mdi:calendar-month' class='h-4 w-4' />
        <time class='text-md dark:text-slate-300 text-slate-600'>
          {date}
        </time>
      </div>
    </div>

    <article class='prose lg:prose-lg dark:prose-invert'>
      <Content />
    </article>
  </main>
</Layout>
