---
import { Image } from 'astro:assets'
import { DateTime, Duration, Effect, Exit } from 'effect'

import Layout from '~/Layout.astro'
import * as Author from '~/lib/Author'
import * as Post from '~/lib/Post'
import * as Project from '~/lib/Project'
import { Runtime } from '~/lib/Runtime'
import { urlFor } from '~/lib/sanityImageUrl'

const handleRequest = Effect.gen(function* () {
  const postService = yield* Post.Service
  const projectService = yield* Project.Service
  const authorService = yield* Author.Service

  const [posts, projects, author] = yield* Effect.all(
    [
      postService.list().pipe(Effect.catchAll(() => Effect.succeed([]))),
      projectService.list(),
      authorService.me(),
    ],
    { concurrency: 'unbounded' }
  )

  return {
    posts,
    projects,
    author,
    social: [
      {
        name: 'GitHub',
        href: `https://github.com/${author.githubHandle.replace(/^@/, '')}`,
      },
      {
        name: 'Twitter',
        href: `https://x.com/${author.twitterHandle.replace(/^@/, '')}`,
      },
    ],
  }
})

const result = await Runtime.runPromiseExit(handleRequest.pipe(Effect.tapError(Effect.logError)))

if (Exit.isFailure(result)) {
  return new Response(null, { status: 500 })
}

const { posts, projects, social, author } = result.value

const cloudflareCacheLength = Duration.toSeconds(Duration.days(1))
const browserCacheLength = Duration.toSeconds(Duration.hours(1))

Astro.response.headers.set(
  'Cache-Control',
  `public, s-maxage=${cloudflareCacheLength}, max-age=${browserCacheLength}, stale-while-revalidate=${cloudflareCacheLength}`
)
---

<Layout description={author.bio}>
  <div class='space-y-8 pb-8'>
    <div class='flex flex-row items-center'>
      <div class='bg-slate-950 bg-blend-overlay'>
        <Image
          transition:name='mackie'
          src={urlFor(author.image).width(233).height(256).url()}
          alt=''
          width={233}
          height={256}
        />
      </div>
      <p class='mt-8 -ml-8 text-xs sm:text-sm md:-ml-4'>
        {author.bio}
      </p>
    </div>
    <section class='space-y-4'>
      <p>Find me on:</p>
      <ul class='list-inside list-disc'>
        {
          social.map(({ name, href }) => (
            <li>
              <a
                href={href}
                target='_blank'
                rel='noreferrer noopener'
                aria-label={name}
                class='underline'
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='font-bold'>Posts</h2>
      <ul class='mt-4 list-none space-y-4'>
        {
          posts.map((post) => (
            <li class='flex flex-col-reverse gap-2 md:flex-row md:items-center'>
              <time
                datetime={DateTime.formatIsoDate(post.publicationDate)}
                class='text-sm text-slate-600 tabular-nums dark:text-slate-300'
                transition:name={`post-${post.id}--date`}
              >
                {DateTime.formatIsoDate(post.publicationDate)}
              </time>

              <a
                class='underline'
                href={`/posts/${post.slug}`}
                data-astro-prefetch
                transition:name={`post-${post.id}--title`}
              >
                {post.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='font-bold'>Projects</h2>
      <ul class='mt-4 list-none space-y-2'>
        {
          projects.map(({ name, description, href }) => (
            <li>
              <a class='underline' href={href} target='_blank' rel='noopener noreferrer'>
                {name}
              </a>

              <p class='text-slate-600 dark:text-slate-300'>{description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
