---
import { Image } from 'astro:assets'
import { DateTime, Effect, Exit } from 'effect'

import Layout from '~/Layout.astro'
import * as Author from '~/lib/Author'
import * as Post from '~/lib/Post'
import * as Project from '~/lib/Project'
import { Runtime } from '~/lib/Runtime'

const handleRequest = Effect.gen(function* () {
  const postService = yield* Post.Service
  const projectService = yield* Project.Service
  const authorService = yield* Author.Service

  const [posts, projects, author] = yield* Effect.all(
    [
      postService.list().pipe(Effect.catchAll(() => Effect.succeed([]))),
      projectService.list(),
      authorService.me(),
    ],
    { concurrency: 'unbounded' }
  )

  return {
    posts,
    projects,
    author,
  }
})

const result = await Runtime.runPromiseExit(handleRequest.pipe(Effect.tapError(Effect.logError)))

if (Exit.isFailure(result)) {
  throw new Error('Failed to generate page', { cause: result.cause })
}

const { posts, projects, author } = result.value
---

<Layout description={author.bio}>
  <section class='space-y-8'>
    <section>
      <h2 class='font-bold'>Posts</h2>
      <ul class='mt-4 list-none space-y-4'>
        {
          posts.map((post) => (
            <li class='flex flex-col-reverse gap-2 md:flex-row md:items-center'>
              <time
                datetime={DateTime.formatIsoDate(post.publicationDate)}
                class='text-sm text-black/60 tabular-nums dark:text-white/60'
                transition:name={`post-${post.slug}--date`}
              >
                {DateTime.formatIsoDate(post.publicationDate)}
              </time>

              <a
                class='underline'
                href={`/posts/${post.slug}`}
                data-astro-prefetch
                transition:name={`post-${post.slug}--title`}
              >
                {post.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='font-bold'>Projects</h2>
      <ul class='mt-4 list-none space-y-2'>
        {
          projects.map(({ name, description, href }) => (
            <li>
              <a class='underline' href={href} target='_blank' rel='noopener noreferrer'>
                {name}
              </a>

              <p class='text-black/60 dark:text-white/60'>{description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
  <Image
    class='fixed bottom-0 left-0 -z-10 hidden h-[200px] grayscale-100 duration-500 lg:block'
    transition:name='mackie'
    src={author.image}
    alt=''
    height={200}
  />
</Layout>
